.git
.idea
.env
docker/.env
*.pem

.next
node_modules
web/.next
web/node_modules
web/out
web/*.tsbuildinfo

backend/.mypy_cache
backend/.pytest_cache
backend/.ruff_cache
backend/.venv
backend/app/__pycache__
backend/ctrl_contabil_backend.egg-info
